.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.shop-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-container {
    background-color: black;
    color: white;
    margin: 20px;
    border-radius: 10px;
}