.product-container {
    margin: 20px;
    padding-bottom: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.image-container {
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 320px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-detail button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.product-detail button:hover {
    background-color: rgba(255, 166, 0, 0.861);
    color: black;
    font-weight: 700;
}