.header {
    background-color: black;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-container {
    background-color: whitesmoke;
    padding: 5px 5px 4px 8px;
    margin-right: 20px;
    border-radius: 50%;
}

img {
    width: 35px;
    height: 35px;
}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.nav-link:hover {
    font-weight: 700;
    color: orange;
}